{% extends "base.html" %}
{% block title %}{{ block.super }}Worksheets{% endblock %}
{% block headline %}Worksheets{% endblock %}
{% block content %}
	<section>
		<table class="worksheets">
		  <tr>
		      <th>Title</th><th colspan="3">Actions</th>
		  </tr>
		  {% for object in object_list %}
		  <tr class="{% cycle 'odd' 'even' %}">
		      <td>{{ object }}</td>
		      <td><a href="{% url lessons_worksheet_plan pk=object.pk %}">Plan</a></td>
              <td><a href="{% url lessons_worksheet_take pk=object.pk %}">Engage</a></td>
              <td><a href="{% url lessons_worksheet_grade pk=object.pk %}">Grade</a></td>
		  </tr>
		  {% endfor %}
		</table>
	</section>
{% endblock %}